<div class="contact-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-form">
                        <h3><span>Get in </span> touch with us! </h3>
                        <p></p>
                        <form action="contact">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="col-12">
                                    <input type="text" placeholder="subject">
                                </div>
                                <div class="col-12">
                                    <textarea name="massage" cols="30" rows="10" placeholder="Your Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button>Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-page-info">
                        <h3>What we Offer</h3>
                        <ul>
                          <li>Provide lecturers a better recommendation of online learning 
                          materials like online tutorials and e-books so that lecturers can save their time.</li>
                        </ul>
                        <h3>Our Services</h3>
                        <ul class="mb-0">
                            <li><a href="text-request"><i class="fa fa-angle-double-right"></i> Text resources finder</a></li>
                            <li><a href="video"><i class="fa fa-angle-double-right"></i> Video resources finder</a></li>
                            <li><a href="slide"><i class="fa fa-angle-double-right"></i> Lecture slide validator</a></li>
                            <li><a href="slide"><i class="fa fa-angle-double-right"></i> Lecture tutorial validator </a></li>
                            <li><a href="moodle"><i class="fa fa-angle-double-right"></i> Moodle course page validator</a></li>
                            <li><a href="moodle"><i class="fa fa-angle-double-right"></i> Moodle question file analyzer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>