<div class="head-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img class="brand-logo" src="../../assets/Logo.png">
      LMMS Project<sup>beta</sup>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/text-request">Text<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/video">Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/moodle">Moodle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="slide">Slide</a>
        </li>
        <li class="nav-item" hidden>
          <a href="/text-responce" class="nav-link">Text Responce</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="nav-user-control">
    <li><a href="#">test@example.com</a></li>
    <li><a href="#">Login</a></li>
    <li><a href="#">Register</a></li>
  </ul>
</div>