<div class="head-container">
  <link rel="stylesheet" href="../../../assets/css/responsive.css">
  <!-- header-area start -->
  <header class="header-area header-area2">
    <div class="header-top">
      <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-2 col-sm-4">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo_new1.png" width="185px" height="35px" alt=""></a>
                </div>
            </div>
          <!--<div class="col-xl-5 col-lg-7 col-sm-8">
            <ul class="contact-info d-flex justify-content-end">
              <li>
                <span><i class="fa fa-phone"></i> +02 0120 2651 021</span>
                <span><i class="fa fa-fax"></i> +00 425 356 4518</span>
              </li>
              <li>
                <span><i class="fa fa-envelope"></i> info@lmms.elearning.com</span>
                <span><i class="fa fa-paper-plane-o"></i> www.lmms.elearning.com</span>
              </li>
            </ul> 
          </div>
          <div class="col-xl-2 col-lg-3 col-12 d-none d-lg-block">
            <ul class="social-icon d-flex justify-content-end justify-content-sm-center">
              <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul> 
          </div>-->
          <div class="col-xl-8 col-lg-10 col-sm-8 header-desc">
            <p>LMMS is an online tool designed for lecturers to find online resources 
               and check their lecture material with e-learning standards.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom bg-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-7">
              <div id="navbar-logo" class="logo2 dis-none" >
                  <a href="index.html"><img src="assets/images/logo_new3.png" width="160px" height="26px" alt=""></a>
              </div>
          </div>
          <div class="col-lg-7 col-sm-9 d-none d-lg-block">
            <ul class="mainmenu d-flex justify-content-end">
              <li class="active"><a href="index.html">Home</a>    
              </li>
              <li><a href="about.html">About us</a></li>
              <li><a>Our Services <i class="fa fa-angle-down"></i></a>
                <ul>
                  <li><a href="text-request">Text Analyzer</a></li>
                  <li><a href="video">Video Analyzer</a></li>
                  <li><a href="slide">Slide Validator</a></li>
                  <li><a href="moodle">Moodle Validator</a></li>
                </ul>
              </li>
              <li><a href="contact.html">contact</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-sm-3 col-8">
            <div class="geta_quote">
              <a href="#">Register | Login</a>
              <!-- <a href="#">Logout</a> -->
            </div>
          </div>
          <div class="d-block d-lg-none col-4 pull-right col-sm-2">
            <ul class="menu">
              <li class="first"></li>
              <li class="second"></li>
              <li class="third"></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- responsive-menu area start -->
      <div class="responsive-menu-area d-block d-sm-none">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <ul class="metismenu">
                <li class="sidemenu-items"><a href="index.html">Home</a></li>
                <li><a href="about.html">About us</a></li>
                <li class="sidemenu-items"><a class="has-arrow" aria-expanded="false">Our Services</a>
                  <ul aria-expanded="false">
                    <li><a href="text-request">Text Analyzer</a></li>
                    <li><a href="video">Video Analyzer</a></li>
                    <li><a href="slide">Slide Validator</a></li>
                    <li><a href="moodle">Moodle Validator</a></li>
                  </ul>
                </li>
                <li><a href="contact">contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- responsive-menu area start -->
    </div>

  </header>
  <!-- header-area end -->
</div>
