
<!-- about-area start -->
<div class="about-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>About LMMS</h2>
                    <!-- <img src="assets/images/line.png" alt=""> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="about-img">
                    <!-- <img src="assets/images/about/1.jpg" alt="">  -->
                    <iframe width="540" height="468" src="https://www.youtube.com/embed/RFaDSfiQRYU" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-content">
                    <h3>LMMS is an online tool designed for lecturers to find online
                         resources and check their lecture material with e-learning standards.</h3>
                    <p>Finding resources to define the syllabus content and, creating and maintaining the 
                        lecture materials according to the learning standards or organization standards, can be a 
                        challenging task in universities. As of yet, no system has been implemented to overcome this overall
                        problem.</p>
                        <p> We will provide an advanced searching area to suggest resources to the lecturers according to their exact requirement that will help to define 
                        their syllabus content.  We will drastically reduce a lot of issues that lecturers face in their university life, and it saves more 
                        time for lecturers. It also helps to maintain standards within the organization for those who will use 
                        this system.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area end -->
<!-- blog-details-area start -->
<div class="blog-details-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>How LMMS works</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="blog-details-wrap">
                        <!-- <img src="assets/images//blog/blog-details.jpg" alt=""> -->
                        <iframe width="1040" height="650" src="https://www.youtube.com/embed/E6_Kdntg_ks" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <h3>How Lecture Material Management System works</h3>
                        <ul>
                            <li><a href="#">Text</a></li>
                            <li><a href="#">Video</a></li>
                            <li><a href="#">Moodle</a></li>
                            <li><a href="#">Slide</a></li>
                        </ul>
                       <p>“Lecturer Material Management System” is a unique system specially made for academics
                            in universities and other educational institutes.
                            The system facilitates a university’s Quality Assurance Department to set standard 
                            templates for lecture material (Lecture Slides, Lab Sheets, and Tutorials) and also the Learning Management 
                            System (LMS) page. 
                            Individual lecturers can use “Lecturer Material Management System” to check for compliance to 
                            university standards.  In addition, a web based advanced search option allows academics to easily 
                            find learning resources that match specific requirements the lecturer needs in addition to meeting the level of the students 
                            The university can easily customize the standard templates according to university 
                            standards.  These include using Master Pages with University logos and specific themes
                            the Power Point slides and the use of specific headers and footers in the Lab and Tutorial 
                            Sheets.
                            <p>“Lecturer Material Management System” allows Universities to easily maintain quality assurance standards
                                 of academic content developed and shared in a University.  This would enable consistency of all a
                                 cademic material produced by the University which will directly enhance the student’s perception of the 
                                 University. </p>
                            
                        <p>Default Logins Credentials :</p>
                        <ul>
                            <li>Admin (Username) : admin </li> 
                            <li>Admin (Password): pwd</li> 
                            <li>Lecturer (Username) : lecturer</li>       
                            <li>Lecturer (Password): pwd</li>        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-details-area end -->


<!-- about-area start -->
<div class="service-page-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                   <h2>Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="service-details">
                    <div class="row revarce-wrap">
                        <div class="col-lg-6 col-12">
                            <h3>Textual Resources Searching Service</h3>
                            <p>This system has results caching mechanism to speedup results.
                                But if user requests some results that not cached yet, system should perform 
                                non-repetitive operation to collect information from internet and analyze.  
                                As a result, it will take more time to do that extra operations. 
                                The time that taken to collect and analyze will depend on requested resource type.
                                If it is web pages related contents, it would take approx. 5 minutes.  
                                If it is a PDF related content (E-Books), because of the large amount of content 
                                and file size, it would take approx. 15 - 25 minutes. But it is depending on file
                                size of identified E-Books</p>
                            <p>Following steps describes the how this service works.</p>
                            <ul>  
                                <li class="mb-0"><i class="fa fa-toggle-right"></i>Go to Text Analyzer Tab.  </li>
                                <li class="mb-0"><i class="fa fa-toggle-right"></i>Enter search query “SQL database operations” in search box </li>
                                <li class="mb-0"><i class="fa fa-toggle-right"></i>Select “web site” option from material type </li>
                                <li class="mb-0"><i class="fa fa-toggle-right"></i>Click search button </li>
                                <li><i class="fa fa-toggle-right"></i>It should take some time to load and analyze content and 
                                    will show results when completed. </li>
                            </ul>
                            <p>Sample Keywords to try </p>
                            <ul>  
                                <li class="mb-0"><i class="fa fa-toggle-right"></i>SQL Database operations. </li>
                                <li class="mb-0"><i class="fa fa-toggle-right"></i>Java arrays  </li>
                                <li class="mb-0"><i class="fa fa-toggle-right"></i>Java oop concepts  </li>
                                <li class="mb-0"><i class="fa fa-toggle-right"></i>Html tags  </li>
                                <li class="mb-0"><i class="fa fa-toggle-right"></i>Android layout designing</li>
                                <li class="mb-0"><i class="fa fa-toggle-right"></i>Java Threading </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="service-details-img4">
                            </div>
                            <hr>
                            <div class="service-details-img10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                    <div class="service-details">
                        <div class="row revarce-wrap">
                            <div class="col-lg-6 col-12">
                                <div class="service-details-img8">
                                </div>
                                <hr>
                                <div class="service-details-img9">
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <h3>Video Resources Finding Service</h3>
                                <p>Video finder and analyzer helps you to identify tutorial videos under 
                                    the programming domain. So you can identify best matching tutorial videos 
                                    that suitable for your students.</p>
                                <p>Following steps describes the how this service works.</p>
                                <ul>
                                    <li class="mb-0"><i class="fa fa-toggle-right"></i>Log in as a lecturer.</li>
                                    <li class="mb-0"><i class="fa fa-toggle-right"></i>Navigate to the video analyzer page.</li>
                                    <li class="mb-0"><i class="fa fa-toggle-right"></i> Enter your search keyword. (ex: “Java threading”,
                                         “android listviews”, “OOP concepts”) </li>
                                    <li class="mb-0"><i class="fa fa-toggle-right"></i>Select filters.</li>
                                    <li class="mb-0"><i class="fa fa-toggle-right"></i>Click the search button </li>
                                    <li><i class="fa fa-toggle-right"></i>Can’t find the video that you are looking for? Use Start new
                                         search button to start a new search for you. This feature will take some time to complete. 
                                         Once processing completed you will get an email that contains a link to your search results. </li>
                                </ul>
                                <p><b>Note: start a new search and analyzing function is currently
                                     under development.</b></p>
                            </div>
                
                        </div>
                    </div>
                </div>
                <div class="col-12">
                        <div class="service-details">
                            <div class="row revarce-wrap">
                                <div class="col-lg-6 col-12">
                                    <h3>Slide Validation Service</h3>
                                    <p>Slide Validator helps you to identify consistency
                                        between your lecture material and university standards by considering 
                                        learning standards.</p>
                                    <p><b>Note: This system already has two template files for both PowerPoint slides and Word documents.</b></p>
                                    <p>Please use these files for validations.
                                        (uploaded templates- https://drive.google.com/open?id=16X8iPwjZ7VrO0p44RDtRm2YWBB7dZvym)</p>
                                    <p>Steps to validate PowerPoint slides</p>
                                    <ul>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Log in as a lecturer.</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Navigate to the 'Slide Validation' feature.</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Choose 'Slide' as your lecture material type.</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Choose 'Slide Template' as your template.</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Choose your lecture slide and click the 'Upload' button. 
                                            (We have already provided set of lecture slides in below section.
                                             Please download them and use those file for validations)</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Choose your validation type ('Standard Template' or 'Customizable Template')</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Provide required information based on the selected validation type.</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Click 'Start Validation' button to start the validation process.</li>
                                        <li><i class="fa fa-toggle-right"></i>Click 'Generate Report' button to get violation report.</li>
                                    </ul>
                                    <p>Samples: https://drive.google.com/open?id=1gzUL5sS8Gz6Dik2NBiWnvD8PJt528V6x</p>
                                    <p>Steps to validate Word documents</p>
                                    <ul>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Log in as a lecturer.</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Navigate to the 'Slide Validation' feature.</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Choose 'Tutorial' or 'Lab Sheet' as your lecture material type.</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Choose 'Word Template' as your template.</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Choose your lecture tutorial or lab sheet and click the 'Upload' button.
                                             (We have already provided set of Word files in below section. Please download them and use 
                                             those file for validations)</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Choose your validation type ('Standard Template' or 'Customizable Template')</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Provide required information based on the selected validation type.</li>
                                        <li class="mb-0"><i class="fa fa-toggle-right"></i>Click 'Start Validation' button to start the validation process</li>
                                        <li><i class="fa fa-toggle-right"></i>Click 'Generate Report' button to get violation report</li>
                                    </ul>  
                                    <p>Samples: https://drive.google.com/open?id=1xe6TkskjhKm2WSfVsJdQvOWm_u8odm-j</p>  
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="service-details-img6">
                                    </div>
                                    <hr>
                                    <div class="service-details-img11">
                                    </div>
                                    <hr>
                                    <div class="service-details-img8">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                            <div class="service-details">
                                <div class="row revarce-wrap">
                                    <div class="col-lg-6 col-12">
                                        <div class="service-details-img7">
                                        </div>
                                        <hr>
                                        <div class="service-details-img5">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <h3>Moodle Page Validation Service</h3>
                                        <p>Moodle validation Service allows you to check your course page consist with
                                            learning standards and provide options to customize it. Moodle Quiz analyzing
                                            Service provide lecturer to check his moodle quiz file(XML) is according to  </p>
                                        <p>Steps to validate Moodle Course page</p>    
                                        <ul>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>Login to the site.</li>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>Go to the Moodle Validation Tab.</li>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>Select "Moodle Page Validation" option.</li>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>Provide the creadentials and select the Validation Option. (We do not store any credentials of yours.)</li>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>If you select "Standard Validation" as your option, then select "Analyze" button.</li>
                                            <li ><i class="fa fa-toggle-right"></i>It you select "Custom Validation" as your option, then fill the required fields and start analyzing process.</li>
                                        </ul>
                                        <p><b>Note: Standard validation process done according to identified learning standards.<br>
                                        In "Custom validation" user can choose which standard should include in thr process or not.</b></p> 
                                        <p>Steps to validate Moodle Quiz file</p>    
                                        <ul>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>Login to the site.</li>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>Select the Moodle Quiz file validation Tab.</li>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>Upload your quiz file. (File should be in Moodle XML format. Otherwise process will not work correctly.)</li>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>Choose analyzing option.</li>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>If you select "Basic Analyzing", then click start button.</li>
                                            <li class="mb-0"><i class="fa fa-toggle-right"></i>It you select "Custom Analyzing", then fill the required fields(ex: no of question : 50)</li>
                                            <li><i class="fa fa-toggle-right"></i>Start the process.</li>
                                        </ul>
                                        <p><b>Note : Analyzing process might get some time to display the results.</b></p>
                                    </div>
                        
                                </div>
                            </div>
                        </div>        
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="service-wrappper">
                    <img src="assets/images/service/1.jpg" alt="">
                    <div class="service-contents">
                        <h3><a href="text-request">Online Textual Resource finding service </a></h3>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="service-wrappper">
                    <img src="assets/images/service/2.jpg" alt="">
                    <div class="service-contents">
                        <h3><a href="video">Online Video Resource finding service</a></h3>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="service-wrappper">
                    <img src="assets/images/service/3.jpg" alt="">
                    <div class="service-contents">
                        <h3><a href="slide">Slide and Doc Validation service</a></h3>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="service-wrappper">
                    <img src="assets/images/service/4.jpg" alt="">
                    <div class="service-contents">
                        <h3><a href="moodle">Moodle course page validation service</a></h3>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area end -->
