<!-- main content start-->
<div id="page-wrapper">
    <div class="main-page signup-page">
      <h2 class="title1">SignUp Here</h2>
      <div class="sign-up-row widget-shadow">
        <h5>Personal Information :</h5>

        <form action="#" method="post">
          <div class="sign-u">
                <input type="text" name="username" placeholder="User Name" required="">
            <div class="clearfix"> </div>
          </div>
          <div class="sign-u">
                <input type="email" placeholder="Email Address" required="">
            <div class="clearfix"> </div>
          </div>
          <div class="sign-u">
              <input type="text" placeholder="University" required="">
            <div class="clearfix"> </div>
          </div>
          <div class="sign-u">
            <div class="sign-up1">
              <h4>Role :</h4>
            </div>
            <div class="sign-up2" >
              <label style="margin-right: 15px;">
                <input type="radio" name="Gender" required="">
                Admin
              </label>
              <label>
                <input type="radio" name="Gender" required="">
                Lecturer
              </label>
            </div>
            <div class="clearfix"> </div>
          </div>
          
          <h6>Login Information :</h6>
          <div class="sign-u">
                <input type="password" placeholder="Password" required="">
            <div class="clearfix"> </div>
          </div>
          <div class="sign-u">
                <input type="password" placeholder="Confirm Password" required="">
            </div>
            <div class="clearfix"> </div>
          <div class="sub_home">
              <input type="submit" value="Submit">
            <div class="clearfix"> </div>
          </div>
          <div class="registration">
            Already Registered.
            <a class="" href="login.html">
              Login
            </a>
          </div>
        </form>

      </div>
    </div>
  </div>