app-text-result {
  margin: 5px;
  box-shadow: #1b1e21;
}

.header-bar{
  background-color: black;
  max-height: 60px;
  align-content: flex-end;
  margin-bottom: 20px;
}

.btn-content-type {
  transition-timing-function: ease-in-out;
  transition: 500ms;
  text-align: center;
  height: 60px;
  max-width: 200px;
  color: white;
}

.btn-content-type i {
  font-size: 28px;
  vertical-align: middle;
}

.btn-content-type span {
  font-size: 10px;
  vertical-align: middle;
}

.btn-content-type:hover {
  background-color: #373737;
  box-shadow: 0 0 5px black;
  color: #6ab3ff;
}

.btn-content-type-selected {
  background-color: #e2de9b;
  color: black;
}

.search-status h5{
  font-size: 16px;
}

.original-query{
  color: black;
}

.spell-corrected-query {
  color: #bd4147;
}


