<!--<h1 class="display-4">Resources Found!!</h1>--><br>
<h5>Results for <a href="#">{{results.originalQuery}}</a></h5>
<h5 [hidden]="results.originalQuery == results.spellCorrectedQuery">Did you mean? <a href="#">{{results.spellCorrectedQuery}}</a></h5>
<h5>{{results.count}} results found!</h5>
<a href="text-request" class="btn btn-outline-success">Return to new search</a>
<br><br>
<app-text-result *ngFor="let resultItem of results.resultItems"
    [url]="resultItem.url"
    [description]="resultItem.description"
    [rating]="resultItem.rating"
    [_id]="resultItem._id"></app-text-result>
