<div [hidden]="!hasData">
  <h5>We identified following results for your search criteria. If you need more. start a new search
    <button type="button" class="btn btn-info" (click)="searchNewVideos();"> Start a new search </button>
  </h5>

  <ng-container *ngFor="let listitem of listItems">
    <div class="row">
      <hr>
      <div class="col-sm-3">
        <div id="thumbnail">
          <img src={{listitem.thumbnailUrl}} alt="empty">
        </div>
      </div>
      <div class="col-sm-5">
        <h5 class="list-group-item-heading">{{listitem.title}}</h5>
        <!-- <p> {{listitem.description}}</p> -->
        <!-- <p {{listitem.description}}></p></p> -->
        <div ng-init="moreShown = false">
          {{listitem.description | slice:0:200}}
          <!-- <a> ...More </a> -->
        </div><br>
        <p class="list-group-item-text">Duration : {{listitem.duration}}</p>
        <button type="button" class="btn btn-info" (click)="navigate(listitem.videoUrl);"> Watch </button>
      </div>
      <div class="col-sm-4" id="filterDiv" align="Right">
        <ul>
          <table style="width:100%">
            <tr>
              <td>
                <li>HD Quality</li>
              </td>
              <td>:</td>
              <td *ngIf="listitem.filter1 == true; else wrong">
                <i class="cor fa fa-check-circle"></i>
              </td>
              <ng-template #wrong>
                <i class="wro fa fa-times-circle"></i>
              </ng-template>
            </tr>
            <tr>
              <td>
                <li>presesnter visibility</li>
              </td>
              <td>:</td>
              <td *ngIf="listitem.filter2 == true; else wrong">
                <i class="cor fa fa-check-circle"></i>
              </td>
              <ng-template #wrong>
                <i class="wro fa fa-times-circle"></i>
              </ng-template>
            </tr>
            <tr>
              <td>
                <li>code visibility</li>
              </td>
              <td>:</td>
              <td *ngIf="listitem.filter3 == true; else wrong">
                <i class="cor fa fa-check-circle"></i>
              </td>
              <ng-template #wrong>
                <i class="wro fa fa-times-circle"></i>
              </ng-template>
            </tr>
            <tr>
              <td>
                <li>IDE(Elipse)</li>
              </td>
              <td>:</td>
              <td *ngIf="listitem.filter4 == true; else wrong">
                <i class="cor fa fa-check-circle"></i>
              </td>
              <ng-template #wrong>
                <i class="wro fa fa-times-circle"></i>
              </ng-template>
            </tr>
            <tr>
              <td>
                <li>IDE(Intellij) </li>
              </td>
              <td>:</td>
              <td *ngIf="listitem.filter5 == true; else wrong">
                <i class="cor fa fa-check-circle"></i>
              </td>
              <ng-template #wrong>
                <i class="wro fa fa-times-circle"></i>
              </ng-template>
            </tr>
            <tr>
              <td>
                <li>IDE(Visual studio) </li>
              </td>
              <td>:</td>
              <td *ngIf="listitem.filter6 == true; else wrong">
                <i class="cor fa fa-check-circle"></i>
              </td>
              <ng-template #wrong>
                <i class="wro fa fa-times-circle"></i>
              </ng-template>
            </tr>
            <tr>
              <td>
                <li>IDE(Net beans) </li>
              </td>
              <td>:</td>
              <td *ngIf="listitem.filter7 == true; else wrong">
                <i class="cor fa fa-check-circle"></i>
              </td>
              <ng-template #wrong>
                <i class="wro fa fa-times-circle"></i>
              </ng-template>
            </tr>
            <tr>
              <td>
                <li>IDE(Visual studio Code) </li>
              </td>
              <td>:</td>
              <td *ngIf="listitem.filter8 == true; else wrong">
                <i id="cor" class="cor fa fa-check-circle"></i>
              </td>
              <ng-template #wrong>
                <i class="wro fa fa-times-circle"></i>
              </ng-template>
            </tr>
            <tr>
              <td>
                <li>IDE(Android studio) </li>
              </td>
              <td>:</td>
              <td *ngIf="listitem.filter9 == true; else wrong">
                <i id="cor" class="cor fa fa-check-circle"></i>
              </td>
              <ng-template #wrong>
                <i class="wro fa fa-times-circle"></i>
              </ng-template>
            </tr>
          </table>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
<div id="asd" [hidden]="hasData">
  <div class="row">
    <h5>We coudn't identify results for your search criteria. Would you like us to start a new search for you..?</h5>
    <br>
    <button type="button" class="btn btn-info" (click)="searchNewVideos();"> Start a new search </button>
  </div>
</div>
