<div>
  <br>
  <h1 class="display-3 text-center">Text Materials
  </h1>
  <br>
  <div class="row">
    <div class="col-xs-3 col-sm-1 col-md-3">&nbsp;</div>
    <div class="col-xs-6 col-sm-10 col-md-6">
      <div class="form-group">
        <input type="text" name="" class="form-control" [(ngModel)]="inputValue" placeholder="What do you want?">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-1 col-md-3">&nbsp;</div>
    <div class="col-xs-6 col-sm-10 col-md-5">
      <a class="btn btn-primary" (click)="search()">Search</a>
    </div>
    <div class="col-xs-3 col-sm-1 col-md-4">
      <span>E-Books </span>
      <input type="radio" name="Hello" value="ebook" [(ngModel)]="contentType">
      <br><span> Web Tutorials </span>
      <input type="radio" name="Hello" value="web" [(ngModel)]="contentType">
    </div>
  </div>
</div>
<br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LMMS Project</h5>
      </div>
      <div class="modal-body">
        <div class="progressContent" [hidden]="!errorContentHidden">
          <h1>Processing your request...</h1>
          <h2>Please Wait</h2>
          <p class="fa fa-refresh fa-spin" style="font-size:250px;"></p>
        </div>
        <div class="errorContent" [hidden]="errorContentHidden">
          <h1>Oops.. Server Error!!</h1>
          <p class="fa fa-frown-o" style="font-size:250px;"></p>
        </div>
        <div class="modal-footer" [hidden]="errorContentHidden">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="setErrorContentStatus(true)">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
