/*moodle css file*/

.main-view{
    padding: 5% 5%;
    min-height: 500px;
    /* background: #cdcfdf; */
}
.click-info:hover{
    cursor: pointer;
}
.dis-none{
    display: none;
}
.btn-margin-10{
    margin: 10px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-left-10{
    margin-left: 10px;
}
.margin-left-5{
    margin-left: 5px;
}
.margin-bottom-10{
    margin-bottom: 10px; 
}
.margin-right-5{
    margin-right: 5px;
}
.left-10{
    left: 10px;
}
.border-style-1{
    border: 2px solid rgba(139, 139, 139, 0.479);
    padding: 8px;
}
.border-style-2{
    border: 2px solid rgba(139, 139, 139, 0.479);
    padding: 8px;
    background-color: rgba(0, 128, 0, 0.055);
}
.progress-bar-height{
    height: 8px;
}
.text-right{
    text-align: right;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-top-4{
    margin-top: 4px;
}
.parent{
    display: flex;
}
.movies{
    background: rgba(228, 228, 231, 0.932);
    padding: 0.9em;
    margin: 1em;
    max-width: 100em;
}

.movieListItem{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #c6c7c9f1;
    padding: 0.3em ;
    margin: 0.5em;
    text-align: left;
}
.quiz-div-style{
    margin: 15px 0 0 0 ;
}

.file-uploader-style{
    /* border: 2px solid rgba(139, 139, 139, 0.479); */
    left: 10px;
    padding: 6px;
    margin-bottom: 10px;
}
.btn-style-1{
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    padding: 5px 10px;
    border-radius: 0;
    color: white;
}
/* validation messages */
.invalid-message{
    display: block;
    width: 100%;
    /* margin-top: .25rem; */
    font-size: 80%;
    color: #dc3545;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

/* modal center position */
.modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  /* end modal center position */