<!-- main -->
<div class="container main-view">
  <br>
  <div class="row">
    <div class="col-sm-12 col-xs-12">
        <form>
          <div class="form-group">
            <select class="form-control" id="selectOption" (change)="selectedOption($event)">
              <option value="default">Select validation option</option>
              <option value="moodle_page_view" >Moodle Page Validation</option>
              <option value="quiz_file_view">Moodle Question File Validation</option>
            </select>
          </div>
        </form>
    </div> 
  </div>
  <!-- Moodle page validator row -->
  <div class="row" *ngIf="checkValue === 'moodle_page_view' ">
    <div class="col-sm-12 col-xs-12">
        <div id="moodle-page-validator">
          <h4>Moodle Page Validator</h4>
            <div class="form-group">
              <label for="moodle_login_url">Moodle Login URL</label>
              <input [(ngModel)]="m_loginUrl"  type="text" class="form-control" id="moodle_login_url"  placeholder="http://example.com/login.php">
            </div>
            <div class="form-group">
              <label for="moodle_login_username">User Name</label>
              <input [(ngModel)]="m_username" type="text" class="form-control" id="moodle_login_username"  placeholder="user">
            </div>
            <div class="form-group">
                <label for="moodle_login_pwd">Password</label>
                <input [(ngModel)]="m_pwd" type="password" class="form-control" id="moodle_login_pwd" placeholder="Password">
            </div>
            <!-- <small id="emailHelp" class="form-text text-muted">Only for Login</small> -->
            <div class="form-group">
                <label for="moodle_course_url">Moodle Course Page URL</label>
                <input [(ngModel)]="m_pageUrl" type="text" class="form-control" id="moodle_course_url" placeholder="http://example.com/course/view.php">
            </div>
            <!-- validation type selection div -->
            <div class="border-style-1">
              <div class="form-group">
                  <label for="standardType">select Validation Type</label>
                  <select class="form-control" id="standardType" (change)="selectedMoodleStandard($event)">
                    <option value="moodle_standard_validation">Standard Validation</option>
                    <option value="moodle_custom_validation">Custom Validation</option>
                  </select>
              </div>
              <!-- moodle settings -->
              <div>
                <hr>
                  <div class="moodle-div-style" *ngIf="standardType === 'moodle_custom_validation' ">
                    <h4>Custom Validation Settings<hr></h4>
                    <div class="form-group row">
                      <label for="weekly_lesson_type" class="col-sm-9 col-xs-9 col-form-label">Weekly Lesson Type</label>
                      <div class="col-sm-3 col-xs-3">
                        <select id="weekly_lesson_type" class="form-control">
                          <option selected>Topic wise (ex:- Java Development)</option>
                          <option>Date wise (ex:- 1 January - 7 January)</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="weekly_main_desc" class="col-sm-9 col-xs-9 col-form-label">Check main Weekly Description</label>
                        <div class="col-sm-3 col-xs-3">
                          <select id="weekly_main_desc" class="form-control">
                            <option selected>Yes</option>
                            <option>No</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="check_resource_name" class="col-sm-9 col-xs-9 col-form-label">Check resource's naming convension</label>
                          <div class="col-sm-3 col-xs-3">
                            <select id="check_resource_name" class="form-control">
                              <option selected>Yes</option>
                              <option>No</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="check_resource_desc" class="col-sm-9 col-xs-9 col-form-label">Check resources description</label>
                            <div class="col-sm-3 col-xs-3">
                              <select id="check_resource_desc" class="form-control">
                                <option selected>Yes</option>
                                <option>No</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-12 col-xs-12 text-right">
                                <button type="button" class="btn btn-primary margin-right-10">Apply Settings</button>
                              </div>
                            </div>
                  </div>
              </div>
              <!-- end moodle settings -->
            </div>
            <!-- //validation type selection div -->

            <small id="emailHelp" class="form-text text-muted">Credintials are not saving</small>
            <button type="button" class="btn btn-primary margin-top-10" (click)="sendMoodleCredentials()">Submit</button>
            <button type="button" class="btn btn-success margin-top-10 margin-left-10" (click)="displayMoodleResults()">Start Analyze</button>
          </div>
    </div>
    <!-- display results -->
    <div class="parent">
      <ol class="movies">
        <li class="movieListItem" *ngFor="let eachResource of resources" >
          Resource - {{eachResource.name}} | {{eachResource.description}}
        </li>
      </ol> 
    </div>
    <!-- display results end -->
  </div>
  <!-- //moodle page validaton row -->

  <!-- question file analyzer row -->
  <div class="row" *ngIf="checkValue === 'quiz_file_view' ">
    <div class="col-sm-12 col-xs-12">
        <h4>Moodle Question File Analyzer</h4>
        <div id="question-file-validator" class="row">
          <div class="col-md-9 col-sm-9 col-xs-12 file-uploader-style">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 ">
            <button class="btn btn-primary  margin-left-10">Upload</button>
          </div>
          <div class="col-sm-12 col-xs-12 ">
              <div class="progress progress-bar-height">
                  <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
              </div>
          </div>
        </div>
    </div>

    <!-- question settings -->
<div class="col-md-12 col-md-12 col-xs-12 ">
    <hr>
      <div class="quiz-div-style">
        <h4>Question Analyzing Settings<hr></h4>
        <div class="form-group row">
          <label for="mcq_type" class="col-md-9 col-sm-9 col-xs-9 col-form-label">MCQ Question Type</label>
          <div class="col-md-3 col-sm-3 col-xs-3">
            <select id="mcq_type" class="form-control">
              <option selected>Single Answers</option>
              <option>Multiple Answers</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
            <label for="question_amount" class="col-md-9 col-sm-9 col-xs-9 col-form-label">Check no of questions</label>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <select id="question_amount" class="form-control">
                <option selected>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
              <label for="check_resource_name" class="col-md-9 col-sm-9 col-xs-9 col-form-label">Check no of answers (MCQ only)</label>
              <div class="col-md-3 col-sm-3 col-xs-3">
                <select id="check_resource_name" class="form-control">
                  <option selected>Yes</option>
                  <option>No</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
                <label for="check_resource_desc" class="col-md-9 col-sm-9 col-xs-9 col-form-label">No of Answers for each MCQ question</label>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <select id="check_resource_desc" class="form-control">
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-primary margin-right-10">Apply Settings</button>
                    <button type="submit" class="btn btn-success margin-left-10">Start Analyze</button>
                  </div>
                </div>
      </div>
  </div>
<!-- question settings end -->

  </div>
  <!-- //question file analyzer row -->


</div>
<!-- //main -->

