<div>
  <!-- footer-area start -->
  <footer class="footer-area">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4  col-sm-6 col-12">
            <div class="footer-widget footer-logo">
              <img src="assets/images/logo_new2.png" width="185px" height="35px" alt="">
              <p>There are many variations of passages of Lorem Ipsum available, but the dum majority have suffered alteration in the some form by injected.</p>
                <button>Register</button>
            </div>
          </div>
          <div class="col-lg-5 col-sm-6 col-12">
            <div class="footer-widget footer-menu">
              <h3>Our Services</h3>
              <ul>
                <li><a href="text-request"><i class="fa fa-angle-double-right"></i> Text resources finder</a></li>
                <li><a href="video"><i class="fa fa-angle-double-right"></i> Video resources finder</a></li>
                <li><a href="slide"><i class="fa fa-angle-double-right"></i> Lecture slide validator</a></li>
                <li><a href="slide"><i class="fa fa-angle-double-right"></i> Lecture tutorial validator </a></li>
                <li><a href="moodle"><i class="fa fa-angle-double-right"></i> Moodle course page validator</a></li>
                <li><a href="moodle"><i class="fa fa-angle-double-right"></i> Moodle question file analyzer</a></li>
              </ul>
            </div>
          </div>
          <!-- <div class="col-lg-4 col-sm-6 col-12">
            <div class="footer-widget footer-twitter">
              <h3>Twitter Feeds</h3>
              <ul>
                <li><a href="#"><i class="fa fa-twitter"></i> https://twitter.com /envatO/ status/944202192013144064 https://twitter.com/envato/status/ 944202192013144064</a> </li>
                <li class="mb-0"><a href="#"><i class="fa fa-twitter"></i> https://twitter.com /envatO/ status/944202192013144064 https://twitter.com/envato/status/ 944202192013144064</a> </li>
              </ul>
            </div>
          </div> -->
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="footer-widget footer-contact">
              <h3>Site Map</h3>
              <ul class="footer-contact-info">
                <li>Home</li>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>Services</li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 copyright">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; All rights reserved | SLIIT Research Team 2018
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-area end -->
</div>
